<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <filter>
    <filter-name>ObjectifyFilter</filter-name>
    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ObjectifyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ISST</servlet-name>
    <servlet-class>es.upm.dit.isst.gestiondeviajesgrupo07.ISST_VIAJES_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ISST</servlet-name>
    <url-pattern>/isst_viajes</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ISST_VIAJES_NuevoEmpleado_Servlet</display-name>
    <servlet-name>ISST_VIAJES_NuevoEmpleado_Servlet</servlet-name>
    <servlet-class>es.upm.dit.isst.gestiondeviajesgrupo07.ISST_VIAJES_NuevoEmpleado_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ISST_VIAJES_NuevoEmpleado_Servlet</servlet-name>
    <url-pattern>/nuevoEmpleado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ISST_VIAJES_NuevoViaje_Servlet</display-name>
    <servlet-name>ISST_VIAJES_NuevoViaje_Servlet</servlet-name>
    <servlet-class>es.upm.dit.isst.gestiondeviajesgrupo07.ISST_VIAJES_NuevoViaje_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ISST_VIAJES_NuevoViaje_Servlet</servlet-name>
    <url-pattern>/nuevoViaje</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ISST_VIAJES_Upload_Servlet</display-name>
    <servlet-name>ISST_VIAJES_Upload_Servlet</servlet-name>
    <servlet-class>es.upm.dit.isst.gestiondeviajesgrupo07.ISST_VIAJES_Upload_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ISST_VIAJES_Upload_Servlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ISST_VIAJES_AceptarViaje_Servlet</display-name>
    <servlet-name>ISST_VIAJES_AceptarViaje_Servlet</servlet-name>
    <servlet-class>es.upm.dit.isst.gestiondeviajesgrupo07.ISST_VIAJES_AceptarViaje_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ISST_VIAJES_AceptarViaje_Servlet</servlet-name>
    <url-pattern>/aceptarViaje</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ISST_VIAJES_FinalizarViaje_Servlet</display-name>
    <servlet-name>ISST_VIAJES_FinalizarViaje_Servlet</servlet-name>
    <servlet-class>es.upm.dit.isst.gestiondeviajesgrupo07.ISST_VIAJES_FinalizarViaje_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ISST_VIAJES_FinalizarViaje_Servlet</servlet-name>
    <url-pattern>/finalizarViaje</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ISST_VIAJES_AprobarJustificantes_Servlet</display-name>
    <servlet-name>ISST_VIAJES_AprobarJustificantes_Servlet</servlet-name>
    <servlet-class>es.upm.dit.isst.gestiondeviajesgrupo07.ISST_VIAJES_AprobarJustificantes_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ISST_VIAJES_AprobarJustificantes_Servlet</servlet-name>
    <url-pattern>/aprobarJustificantes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ISST_VIAJES_IrAMisViajes_Servlet</display-name>
    <servlet-name>ISST_VIAJES_IrAMisViajes_Servlet</servlet-name>
    <servlet-class>es.upm.dit.isst.gestiondeviajesgrupo07.ISST_VIAJES_IrAMisViajes_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ISST_VIAJES_IrAMisViajes_Servlet</servlet-name>
    <url-pattern>/vistaMisViajes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ISST_VIAJES_IrAFormulario_Servlet</display-name>
    <servlet-name>ISST_VIAJES_IrAFormulario_Servlet</servlet-name>
    <servlet-class>es.upm.dit.isst.gestiondeviajesgrupo07.ISST_VIAJES_IrAFormulario_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ISST_VIAJES_IrAFormulario_Servlet</servlet-name>
    <url-pattern>/vistaFormulario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ISST_VIAJES_IrAResponsable</display-name>
    <servlet-name>ISST_VIAJES_IrAResponsable</servlet-name>
    <servlet-class>es.upm.dit.isst.gestiondeviajesgrupo07.ISST_VIAJES_IrAResponsable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ISST_VIAJES_IrAResponsable</servlet-name>
    <url-pattern>/vistaResponsable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ISST_VIAJES_DenegarViaje_Servlet</display-name>
    <servlet-name>ISST_VIAJES_DenegarViaje_Servlet</servlet-name>
    <servlet-class>es.upm.dit.isst.gestiondeviajesgrupo07.ISST_VIAJES_DenegarViaje_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ISST_VIAJES_DenegarViaje_Servlet</servlet-name>
    <url-pattern>/denegarViaje</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ISST_VIAJES_IrAJustificantesMisViajes_Servlet</display-name>
    <servlet-name>ISST_VIAJES_IrAJustificantesMisViajes_Servlet</servlet-name>
    <servlet-class>es.upm.dit.isst.gestiondeviajesgrupo07.ISST_VIAJES_IrAJustificantesMisViajes_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ISST_VIAJES_IrAJustificantesMisViajes_Servlet</servlet-name>
    <url-pattern>/irAJustificantesMisViajes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ISST_VIAJES_NuevoJustificante_Servlet</display-name>
    <servlet-name>ISST_VIAJES_NuevoJustificante_Servlet</servlet-name>
    <servlet-class>es.upm.dit.isst.gestiondeviajesgrupo07.ISST_VIAJES_NuevoJustificante_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ISST_VIAJES_NuevoJustificante_Servlet</servlet-name>
    <url-pattern>/irANuevoJustificante</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ISST_VIAJES_BorrarJustificante_Servlet</display-name>
    <servlet-name>ISST_VIAJES_BorrarJustificante_Servlet</servlet-name>
    <servlet-class>es.upm.dit.isst.gestiondeviajesgrupo07.ISST_VIAJES_BorrarJustificante_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ISST_VIAJES_BorrarJustificante_Servlet</servlet-name>
    <url-pattern>/borrarJustificante</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ISST_VIAJES_irAJustificantesMisEmpleados</display-name>
    <servlet-name>ISST_VIAJES_irAJustificantesMisEmpleados</servlet-name>
    <servlet-class>es.upm.dit.isst.gestiondeviajesgrupo07.ISST_VIAJES_irAJustificantesMisEmpleados</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ISST_VIAJES_irAJustificantesMisEmpleados</servlet-name>
    <url-pattern>/irAJustificantesMisEmpleados</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ISST_VIAJES_SolicitarReembolsoPrevio_Servlet</display-name>
    <servlet-name>ISST_VIAJES_SolicitarReembolsoPrevio_Servlet</servlet-name>
    <servlet-class>es.upm.dit.isst.gestiondeviajesgrupo07.ISST_VIAJES_SolicitarReembolsoPrevio_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ISST_VIAJES_SolicitarReembolsoPrevio_Servlet</servlet-name>
    <url-pattern>/solicitarReembolsoPrevio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ISST_VIAJES_AbrirImagen_Servlet</display-name>
    <servlet-name>ISST_VIAJES_AbrirImagen_Servlet</servlet-name>
    <servlet-class>es.upm.dit.isst.gestiondeviajesgrupo07.ISST_VIAJES_AbrirImagen_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ISST_VIAJES_AbrirImagen_Servlet</servlet-name>
    <url-pattern>/abrirImagen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ISST_VIAJES_DenegarJustificantes_Servlet</display-name>
    <servlet-name>ISST_VIAJES_DenegarJustificantes_Servlet</servlet-name>
    <servlet-class>es.upm.dit.isst.gestiondeviajesgrupo07.ISST_VIAJES_DenegarJustificantes_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ISST_VIAJES_DenegarJustificantes_Servlet</servlet-name>
    <url-pattern>/denegarJustificantes</url-pattern>
  </servlet-mapping>
</web-app>